<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>Målet med nettstedet er å gi innblikk i ulike språklige utslag av afasi og øvelse i å analysere aspekter ved afasirammedes språk. Emnene og oppgavene på nettstedet er strukturert rundt fire språklige nivåer: lyd, ord, ytringer og dialog. Til noen av oppgavene finnes det fasit eller forslag til svar, mens andre oppgaver er åpnere og ment som grunnlag for diskusjon.</p>
<p>Målgruppen for nettstedet er først og fremst begynnerstudenter innenfor fagområdene anvendt  lingvistikk/språkavvik og  logopedi, men også andre som er interessert i afasi og lingvistikk, for eksempel ferdig utdannede logopeder og andre spesialpedagoger, vil kunne ha glede av nettstedet. For å få fullt utbytte av det forutsettes imidlertid noe kjennskap til grunnleggende lingvistikk, og arbeidet med nettstedet bør derfor komplementeres med andre læremidler og annen form for undervisning. Et par grunnbøker det kan være nyttig å ha tilgang til, er Innføring i lingvistikk (2. Ut.), redigert av Rolf Theil Endresen, Hanne Gram Simonsen og Andreas Sveen (Universitetsforlaget, 2000) og Ord som ikke vil. Innføring i språkpatologi av Marianne Lind, Helene Uri, Inger Moen og Kirsten Meyer Bjerkan (Novus, 2000). Tekstene og definisjonene på nettstedet bygger hovedsakelig på disse to bøkene.
</p>

    <p>En nyere innføringsbok i lingvistikk er: Språk. En grunnbok redigert av Kristian Emil Kristoffersen, Hanne Gram Simonsen og Andreas Sveen (Universitetsforlaget 2005).
        Siden målgruppen for nettstedet består av studenter og fagfolk fra ulike fagområder, kan det være at noen fagtermer og uttrykksmåter er mer kjent for én gruppe enn for en annen. I en egen ordliste finner du forklaringer og henvisninger til de viktigste faguttrykkene som blir bruk på nettsiden.
    </p>

    <p>Afasi og språk ble produsert i 2001, i samarbeid mellom Institutt for lingvistiske fag (nåværende Institutt for lingvistiske og nordiske studier), Institutt for spesialpedagogikk, InterMedia (alle ved Universitetet i Oslo), Bredtvet kompetansesenter og Sunnaas sykehus’ skole (begge tilknyttet Statped). Produksjonen ble delvis finansiert av SOFF (Sentralorganet for fjernundervisning).
    </p>


    <p>Vi vil gjerne takke de som velvillig har stilt opp slik at dette nettstedet kunne bli til. Det gjelder først og fremst de ni afasirammede som har gitt tillatelse til at filmopptakene med dem kunne brukes: Arne R., Eva N., Eva T., Hege J., Inter-Lise H., Jan-Ivar T., Kåre C., Lisbeth G. og Svein-Erik L. Logoped Mari Berntsen ved Sunnaas sykehus skole har funnet frem til de afasirammede deltakerne og stått for det faglige opplegget under filmopptakene. Vi vil også få takke alle de afasirammede som tillot at tidligere opptak med dem kunne brukes i filmen «Hva er afasi?».
    </p>
</div>



