<!-- place any 'section' HTML in these files -->
<div class="container">

    <div class="dropdown">
        <button class="dropbtn">Lyd</button>
        <div class="dropdown-content">
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_51')">Taleflyt</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_52')">Apraksi</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_53')">Taleflyt</a>
        </div></div>


    <div class="dropdown">
        <button class="dropbtn">Ord</button>
        <div class="dropdown-content">
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_54')">Anomi</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_55')">Neologismer</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_56')">Gjentakelse</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_57')">Ordbetydning</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_58')">Ordtyper</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_59')">Ordbøyning</a>
        </div>
    </div>


    <div class="dropdown">
        <button class="dropbtn">Ytringer</button>
        <div class="dropdown-content">
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_60')">Ytringslengde</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_61')">Kompleksitet</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_62')">Supertrukturer</a>

        </div></div>
    <div class="dropdown">
        <button class="dropbtn">Dialog</button>
        <div class="dropdown-content">
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_63')">Forståelse</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_64')">Samspill</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_65')">Reparasjon</a>
            <a class="internal-anchor" ng-click="seekToAnchor('ordliste_66')">Flerspråklighet</a>
        </div>
    </div>
</div>



<div class="sectionDetail">

    <h5>En kort inneledende tekst om hva lingvistiske nivåer pluss en kort beskrivelse av innholdet på denne siden.</h5>

    <br>

    <h1>Lyd</h1>
    <div timelinebox date-place="Taleflyt" tl-title="" tl-text="Taleflyt" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_51">

    <p> Fra ganske tidlig av i afasiforskningens historie har man skilt mellom flytende og ikke-flytende talekvalitet.</p>
        <div readmore title="Les mer" id="rm1_ling">
            <p>Variabler som talehastighet (antall ord per minutt), ytringslengde, pauser, prosodi og graden av anstrengt tale er blitt brukt for
            å skille mellom de to typene talekvalitet. Imidlertid er det ofte intuitive oppfatninger snarere enn konkrete målinger som gjør at
            vi karakteriserer en bestemt persons tale som flytende eller ikke-flytende.</p>
        <br>
        <p>Taleflyt blir ofte brukt som ett av flere klassifiseringskriterier, for eksempel i Reinvang og Engviks Norsk grunntest for
            afasi, men det er ikke noe ensidig diskriminerende kriterium. Flytende talekvalitet finner i forbindelse med flere typer afasi
            (for eksempel Wernickes afasi, konduksjonsafasi og anomisk afasi), og det er også tilfelle t med ikke-flytende talekvalitet
            (for eksempel Brocas afasi og global afasi).</p>
            <p>Se eksempel på flytende talekvalitet:
            <button ng-click="openWin('arnekortny.mp4')">Arne R.</button></p><br>
            <p>Se eksempel på ikke-flytende talekvalitet:
            <button ng-click="openWin('janivartaleflyt.mp4')">Jan Ivar T.</button></p><br>



        <div readmore title="Oppgaver om taleflyt" id="rm17_ling">


            <br>
            <ol><div>1 a) Hvordan vil du karakterisere språkproduksjonen
            til Eva N., Inger-Lise H., Svein-Erik L. og Hege J.
            i forhold til taleflyt?<br>
                <p>Se videoer:
                    <button ng-click="openWin('eva-n-taleflyt.mp4')">Eva N.</button>

                    <button ng-click="openWin('ingerlisetaleflytkortkort.mp4')">Inger-Lise H.</button>

                    <button ng-click="openWin('sveineriktaleflyt.mp4')">Svein Erik L.</button>

                    <button ng-click="openWin('hegetaleflyt.mp4')">Hege J.</button>
                </p><br>





            Quiz (Multiple choice) som alternativ til Fasit?</li>
            <li>2 a)
            Kan det tenkes at kvaliteten på den produserte
            talen ikke bare har med afasitypen å gjøre, men
            også med selve talesituasjonen?</li>
            <li>2 b)
            Kan innholdet i det som sies, og situasjonen
            ytringen forekommer i, påvirke taleflyten?</li>
            <li>2 c)
            Er det situasjoner der en mindre flytende tale
            ikke er avstikkende i samme grad som i andre
            situasjoner?</li>
            <li>2 d)
            Hvordan forholder dette seg for personer som
                ikke er rammet av noe språkavvik?</li></ol></div></div></div>

    <g-quiz id="quiz1" path="1"></g-quiz>





    <div timelinebox date-place="Apraksi" tl-title="" tl-text="Apraksi" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_52">

    <p>Apraksi kan bety vanskeligheter med å utføre viljemessige motoriske handlinger.</p>
    <div readmore title="Les mer" id="rm2_ling">
        <p> I forbindelse med språk og tale kan apraksi arte
            seg som vansker med å uttale språklyder (taleapraksi) eller som vansker med å bruke taleorganene til ikke-språklige handlinger,
            som å hoste, kremte, suge, gape o.l. (oral apraksi). Man vet hva men ønsker å si eller gjøre, men man greier ikke å programmere
            det motoriske systemet på en slik måte at man får utført handlingen.</p>
        <p>Se videoeksempler:


        <button ng-click="openWin('ingerliseapraksikort.mp4')">Inger Lise H.</button></p>




<br>
        <p>I forbindelse med apraksi er det ikke selve muskulaturen som er svekket, men evnen til å programmere musklene til bestemte viljestyrte
            oppgaver i en bestemt situasjon. Jo mer automatisert og kontekstualisert en handling er, jo lettere er det imidlertid å utføre den.
            Taleapraksi er et vanlig tilleggsutfall ved en del typer afasi.</p>
        <div readmore title="Oppgaver om apraksi" id="rm18_ling">
          <ol><li>1) Øvelse i fonemisk transkripsjon.
              <ul>
              <li> a) briller</li>
              <li> b) to</li>
              <li>c) to</li>
              <li>d) nøkler</li>
              </ul>
          <li>2a) Beskriv noen av de strategiene Inger-Lise H.
              og logopeden hennes bruker for å hanskes
              med taleapraksien.</li>
          <li>2b)
              På hvilke måter bruker logopeden prompting
              for å hjelpe den afasirammede?
              <p>Se videoeksempel:
                  <button ng-click="openWin('ingerliseanomiordgjentas.mp4')">Inger Lise H.</button></p>

          </li>
          </ol>
        </div>
    </div></div>
    <div timelinebox date-place="Lydstrukturer" tl-title="" tl-text="Lydstrukturer" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_53">
    <p>Nesten alle afasirammede produserer ordformer med fonologiske feil (lydlige parafasier), det vil si ordformer der det lydlige uttrykket
        ikke er korrekt i forhold til normen i det språket den afasirammede snakker.</p>
    <div readmore title="Les mer" id="rm3_ling">
        <p>Se videoeksempler:
            <button ng-click="openWin('arneflygel.mp4')">Arne R.</button>
            <button ng-click="openWin('gruppesamtalelydstruktur.mp4')">Gruppesamtale</button></p>


        <p>De fleste av de fonologiske feilytelsene kan plasseres i en av fire kategorier:</p>
        <ul><li>Substitusjonsfeil: en språklyd erstattes av en annen: tar produseres som /da:r/</li>
            <li>Tilleggsfeil: en språklyd legges til lydsekvensen: nøkkel produseres som /knøkel/</li>
            <li>Utelatelsesfeil: en språklyd fjernes fra lydsekvensen: klappe produseres som /kape/</li>
            <li>Feil som skyldes innflytelse fra andre språklyder i ytringen: saks produseres som /sask/</li>
        </ul>

        <p>Fonologiske feilytelser hos afasirammede berører oftest konsonantene, mens vokalene ser ut til å være noe mer «motstandsdyktige».
            De fonologiske feilytelsene afasirammede produserer, bryter vanligvis ikke med språkets fonotaktiske regler. En forutsetning for å
            kunne beskrive og klassifisere fonologiske feilytelser hos afasirammede, er at vi vet hva målytringen er, altså hvilke ord den
            afasirammede forsøker å produseres. Når vi sier at en gitt ytring inneholder en fonologisk feil, innebærer det med andre ord en
            tolkning av en bestemt intensjon hos den afasirammede om å produsere en bestemt ytring.</p>
        <br>
        <p>Her er et eksempel på at det kan være vanskelig eller umulig å beskrive fonologiske feil når vi ikke vet hva målytringen er:
        <button ng-click="openWin('arnedatoidag.mp4')">Arne R.</button></p><br>
        <p>Det er ikke vanlig at afasirammede mister evnen til å produsere bestemte språklyder fullstendig. Det er snarere slik at en og samme
            person noen ganger produserer fonologisk korrekte former og andre ganger gjør fonologiske feil. V kan dermed anta at det fonologiske
            systemet er intakt, men at afasien kan føre til at bruken av systemet ikke alltid er like vellykket. Evnen til å konstruere ordenes
            fonologiske form er ofte ustabil, men sjelden helt ødelagt.</p>
        <p>Hvis evnen til å produsere bestemte språklyder er helt borte, kan det dreie seg om dysartri, som er en talevanske og ikke en språkvanske,
            slik afasi er. Dysartri er et samlebegrep for en gruppe talevansker som skyldes nedsatt eller manglende evne til å kontrollere
            talemuskulaturen. Dysartri kan forekomme sammen med eller uavhengig av afasi.</p>
        <br>
        <p>De fonologiske vanskene vi har beskrevet hittil, hører til såkalt segmental fonologi. Det vil si at de dreier seg om de enkelte
            språklydene – de minste «byggeklossene» – i ytringen. Lydlige fenomener som strekker seg over mer en én språklyd, hører til det
            som kalles suprasegmental fonologi. Dette dreier seg blant annet om stavelsesstruktur og prosodi (trykk, tonelag, intonasjon).
            Også slike suprasegmentale fenomener kan rammes i forbindelse med afasi. Prosodiske avvik er vanligere hos afasirammede med en
            skade i den fremre delen av språkområdene i hjernen enn hos personer med en skade i den bakre delen av språkområdene. Personer med
            en fremre skade snakker ofte langsomt og gir inntrykk av å uttale hver ord med hovedtrykk. Dette kan igjen føre til at
            intonasjonen (setningsmelodien) virker avvikende.</p>
        <p>Se videoeksempler:
            <button ng-click="openWin('janivartaleflyt.mp4')">Jan Ivar T.</button>
            <button ng-click="openWin('ingerliseapraksikort.mp4')">Inger Lise H.</button></p>
        <br>

        <div readmore title="Oppgaver om lydstrukturer" id="rm19_ling">
            <p>1) Øvelse i fonemisk transkripsion.</p>

           <ol><li>a) er det like ved Beitostølen?</li>
               <ol>
           <li> b) Jazz</li>
           <li> c) Jazz</li>
           <li>d) flygel</li>
           <li> e) flygel</li>
           <li> f) skyss</li>
           <li> g) skyss</li>
           <li>h) parafin</li>
           <li> I) tre</li>
           </ol>
           <li>2) Diskuter hva slags type fonologisk feil vi har å gjøre med i hver av ytringene du transkriberte i oppgave 1).</li>
           </ol>
        </div>
    </div>
    </div>
    <h1>Ord</h1>
    <div timelinebox date-place="Anomi" tl-title="" tl-text="Anomi" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_54">
        <p>Anomi er det samme som ordfinningsproblemer (eller ordletingsvansker), og det er et karakteristisk trekk ved afasi.</p>
    <div readmore title="Les mer" id="rm4_ling">
    <p> Alle afasirammede
        har anomi i større eller mindre grad.</p>
        <p>Se videoeksempler:
            <button ng-click="openWin('arnekort.mp4')">Arne R.</button>
            <button ng-click="openWin('hegeanomi.mp4')">Hege J.</button>
            <button ng-click="openWin('eva-n-taleflyt.mp4')">Eva N.</button></p>

<br>
        <p>I enkelte klassifiseringssystemer har man også skilt ut en egen afasitype som kalles anomisk afasi, der hovedproblemet for den
            som er rammet, nettopp er å «finne» ordene. Talen til personer med sterk anomi er ofte preget av pauser, nøling og mange generelle
            og lite presise ord. <br> Det er gjerne ord som hører til åpne ordklasser (substantiv, verb, adjektiv), afasirammede har størst
            vanskeligheter med å finne. Ord som er høyfrekvente, det vil si generelt vanlige ord og ord som er alminnelige i den afasirammedes
            nærmiljø, eller som den afasirammede brukte mye før han eller hun fikk afasi, er vanligvis lettere å finne enn mindre frekvente
            (lavfrekvente) ord. Men det kan også være motsatt.</p>
        <p>Se videoeksempler:
        <button ng-click="openWin('sveineriktaleflyt.mp4')">Svein Erik L.</button>
        <button ng-click="openWin('hegeanomi.mp4')">Hege J.</button></p>

<br>
        <p>Mange afasirammede bruker forskjellige strategier når de ikke husker, eller får tak i det ordet de ønsker å ytre. Slike strategier
            kan for eksempel være at man prøver å forklare eller beskrive innholdet i det ordet man leter etter ved hjelp av andre ord eller
            ved hjelp av gester (kroppsspråk), mimikk, tegninger og så videre.</p>
        <p>Se videoeksempler:
        <button ng-click="openWin('sveineriktaleflyt.mp4')">Svein Erik L.</button>
        <button ng-click="openWin('janivar.mp4')">Jan Ivar T.</button></p>


<br>
        <p>Å skrive et eller flere ord eller bokstaver kan også være en hjelp til å finne frem til et bestemt ord. Noen skriver med en finger
            på bordet eller buksebeinet; andre bruker papir og blyant, og noen har også hjelp av mer teknologiske kommunikasjonshjelpemidler,
            som små «skrivemaskiner». Noen slike maskiner kan «snakke» for den afasirammede, det vil si gjengi ordene den afasirammede skriver, muntlig.</p>
        <p>Se videoeksempel:
        <button ng-click="openWin('gruppesamtaleanomi.mp4')">Gruppesamtale</button></p>

<br>
        <p>Noen afasirammede har også små kommunikasjonsbøker med ord, uttrykk, navn, bilder, kart og så videre, som blant annet kan brukes
            når de ikke kommer på riktig ord. Bruken av slike kommunikasjonsbøker forutsetter en bevar evne til kategorisering.</p>
        <p>Se videoeksempler:
            <button ng-click="openWin('hegeanomi.mp4')">Hege J.</button>
        <button ng-click="openWin('ingerliseapraksikort.mp4')">Inger Lise H.</button></p>
        <br>

        <div readmore title="Oppgaver om anomi" id="rm20_ling">
            <ol><li>1) Gi en beskrivelse av hvilke strategier Hege J.
                og Iogopeden hennes bruker for å finne frem til
                ordet druer.Se video: <button ng-click="openWin('hegeanomidruer.mp4')">Hege J.</button></li>
            <li>2)
                Hvordan arter anomien seg i følgende
                samtalesekvens? Gi en beskrivelse av hvilke
                strategier Jan-Ivar T. og logopeden hans
                bruker i denne samtalesekvensen.<br>Se video:
                <button ng-click="openWin('janivar.mp4')">Jan Ivar T.</button>
                </li>
        </ol>
        </div>
    </div>
    </div>
    <div timelinebox date-place="Neologismer" tl-title="" tl-text="Neologismer" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_55">

    <p>Noen afasirammede produserer ordformer som det ikke er mulig å tolke som noe kjent ord i språket. Disse «ordene», eller fonologiske formene,
    kalles neologismer.</p>
    <div readmore title="Les mer" id="rm5_ling">
        <p>Se videoeksempel:
        <button ng-click="openWin('arnekort.mp4')">Arne R.</button></p>



<br>
        <p>Bruken av neologismer kan ha sammenheng med ordfinningsproblemer (anomi). Når en afasirammet har problemer med å finne frem til et
            bestemt ord, kan en løsning være å produsere en nydannet fonologisk form som erstatning for det ordet vedkommende ikke finner.</p>
        <p>Se videoeksempel:
        <button ng-click="openWin('arnekort.mp4')">Arne R.</button></p>
<br>
        <p>Vanligvis e det bare ord fra de åpne ordklassene (substantiver, verb, adjektiver og adverb) som erstattes av neologismer. At en
            konkret neologisme skal erstatte et ord fra en bestemt ordklasse, kan vi se av grammatikken. Neologismer har ofte en bøyningsendelse,
            og de plasseres også på en plass i ytringen der det kan stå et ord av den aktuelle ordklassen.</p>

    <div readmore title="Oppgaver om neologismer" id="rm21_ling"><ol>
    <li>1. Beskriv det du mener er neologismer i Arne R.s ytringer.</li>
        <li>2. Virker det som om noen av neologismene er bøyd? Hva er i så fall bøyningsendelsene?</li>
        <li>3. Hvilke ordklasser mener du de enkelte neologismene erstatter?</li>
        <li>4. Diskuter forholdet mellom ordleting og bruken av neologismer i Arne R.s ytringer.Se video:
            <button ng-click="openWin('arnekort.mp4')">Arne R.</button></li>
</ol>
        </div></div></div>
<div timelinebox date-place="Gjentakelse" tl-title="" tl-text="Gjentakelse" tl-x=1
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_56">

    <p>Det varierer om afasirammede greier å gjenta ord og fraser en annen person har ytret, eller om de har vanskeligheter med dette. Noen afasirammede
    har større problemer med å gjenta et ord (bevisst) enn å si det spontant (ubevisst).</p>
    <div readmore title="Les mer" id="rm6_ling">
        <p>Se videoeksempler:
        <button ng-click="openWin('arne.mp4')">Arne R.</button>
        <button ng-click="openWin('ingerlisefarge.mp4')">Inger Lise H.</button>
        <button ng-click="openWin('sveinerikfarge.mp4')">Svein Erik L.</button>
        <button ng-click="openWin('eva.mp4')">Eva N.</button></p>
        <br>
        <p>I en del afasiklassifiseringer, for eksempel Reinvang og Engviks Norsk grunntest for afasi, er evnen til å kunne gjenta ett av
            flere klassifiseringskriterier. (dette var en rar setn.) Afasityper som i litteraturen går under betegnelsene Wernickes afasi
            og konduksjonsafasi, er begge kjennetegnet ved svekket evne til å gjenta ord og ytringer, mens afasityper som Brocas afasi
            og anomisk afasi er kjennetegnet ved en bedre bevart evne til å kunne gjenta.</p>
        <br>
        <p>Noen afasirammede har en tendens til å gjenta stavelser, ord eller ytringer som ikke lenger passer inn i sammenhengen. Dette kalles
            perseverasjon og kan opptre både muntlig og skriftlig.</p>
        <p>Se videoeksempel:
            <button ng-click="openWin('sveinerikfarge.mp4')">Svein Erik L.</button></p>


<br>
        <p>Det er som om en viss struktur – en fonologisk struktur, et ord eller en lengre ytring – har festet seg hos den afasirammede på en
            slik måte at han eller hun fortsetter å produsere den samme strukturen også når kommunikasjonen krever en annen struktur.
            I enkelte tilfeller smelter den persevererte strukturen og den nye strukturen sammen, og vi kan beskrive denne som et
            resultat av konkurrerende prosesseringsplaner i hjernen. En afasirammet mann brukte ordet skolespill. Dette er et eksempel
            på en slik sammensmelting.</p>
        <div readmore title="Oppgaver om gjentakelse" id="rm22_ling"><ol><li>a)
            Beskriv perseverasjonene i Eva N.s ytringer.</li>
            <li>b) Er det noe som tyder på konkurrerende planer i ytringene hennes?</li>
            <li> <p>Se video:
                <button ng-click="openWin('eva.mp4')">Eva N.</button></p></li></ol></div>
    </div></div>
        <div timelinebox date-place="Ordbetydning" tl-title="" tl-text="Ordbetydning" tl-x=1
             image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_57">

    <p>Ord kan ha ulike betydningsrelasjoner i forhold til hverandre. For noen afasirammede er dette problematisk.</p>
    <div readmore title="Les mer" id="rm7_ling">
        <p>Ord kan ha ulike betydningsrelasjoner i forhold til hverandre, som når ulike ordformer har tilnærmet den samme betydningen (synonymi):</p>
        <p><i>Jente – pike, grunn – årsak, selvfølgelig – selvsagt – naturligvis,</i> eller som når ulike ordformer har motsatt betydning (antonymi):
            <i>Kort – lang, skitter – ren, død – levende</i></p>.
<br>
        <p>Å forstå et ord innebærer blant annet å forstå hvilke betydningsrelasjoner ordet har til andre ord. For noen afasirammede er dette problematisk.</p>
        <p>Se video: <button ng-click="openWin('sveinerikfarge.mp4')">Svein Erik L.</button></p><br>
        <p>Når ord har samme form (uttrykk), men forskjellig betydning (innhold), kaller vi det homonymi, som når ordet <i>leilighet</i> kan bety «anledning»
            eller «bolig», og ordet  <i>fare</i>  kan bety «å reise» eller «noe som er farlig».</p>
        <p>En type betydningsrelasjon som ligner på homonymi, er polysemi. Også her er et snakk om ord som har samme form, men mens betydningene
            ved homonymer er helt forskjellige, er betydningene til polyseme ord beslektet. Et par eksempler på polysemi er ordet <i>flå</i>,
            som kan bety «å ta skinnet av» eller «å ta alle pengene fra», og ordet <i>styret</i>, som i «sykkelstyret» og «bystyret».
            Det er glidende mellom homonymi og polysemi.</p>
        <div readmore title="Oppgaver om ordbetydning" id="rm23_ling">
            <ol>
            <li>1 a) Hvilke betydningsrelasjoner testes i følgende sekvens?</li>
            <li>1 b) Hvordan vil du karakterisere Hege J.s ferdigheter på dette området basert på disse eksemplene?
                <button ng-click="openWin('hegefarge.mp4')">Hege J.</button></li>
            <li>2) Hvilke betydningsrelasjoner testes i følgende sekvens?
                <button ng-click="openWin('sveinerikfarge.mp4')">Svein Erik L.</button></li>
        </ol>
        </div>
    </div>
        </div>
        <div timelinebox date-place="Ordtyper" tl-title="" tl-text="Ordtyper" tl-x=1
             image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_58">

    <p>Ord er de minste språklig enhetene med både uttrykk og betydning som kan stå alene og gi mening.</p>
    <div readmore title="Les mer" id="rm8_ling">
        <p>Ordklasser er grupper av ord som har visse
            grunnleggende fellestrekk både betydningsmessig og grammatisk. Noen afasirammede har et svært begrenset ordforråd i språkproduksjonen
            (det betyr ikke at de ikke forstår mange flere ord), mens andre har tilgang til mange forskjellige typer ord når de skal produsere språk.</p>
        <p>Se videoeksempler:
        <button ng-click="openWin('ingerlisefarge.mp4')">Inger Lise H.</button>
        <button ng-click="openWin('sveinerikfarge.mp4')">Svein Erik L.</button></p>
<br>
        <p>I norsk regner vi med ti ordklasser:</p>
        <table>
            <tr>
                <td>Substantiv</td>
                <td>bok, fred, tanke, Olav</td>
            </tr>
            <tr>
                <td>Verb</td>
                <td>finne, danse, ville</td>
            </tr>
            <tr>
                <td>Adjektiv</td>
                <td>blå, søk, koselig</td>
            </tr>
            <tr>
                <td>Adverb</td>
                <td>ikke, her, ganske</td>
            </tr>
            <tr>
                <td>Pronomen</td>
                <td>jeg, hverandre, hva</td>
            </tr>
            <tr>
                <td>Interjeksjoner</td>
                <td>ja, nei, au, søren</td>
            </tr>
            <tr>
                <td>Preposisjoner</td>
                <td>i, på, med, under</td>
            </tr>
            <tr>
                <td>Determinativer</td>
                <td>en, to, det, den, tusen</td>
            </tr>
            <tr>
                <td>Konjunksjoner</td>
                <td>g, eller, men</td>
            </tr>
            <tr>
                <td>Subjunksjoner</td>
                <td>at, fordi, hvis</td>
            </tr>
        </table><br>
        <p>I studier av avvikende språk er skillet mellom åpne og lukkede ordklasser viktig. Åpne klasser er for eksempel substanstiv, adjektiv og
            verb. Disse klassene er kjennetegnet ved at de har et økende og i prinsippet uendelig antall medlemmer. Lukkede klasser er for
            eksempel pronomen og preposisjoner. Disse klassene er kjennetegnet ved at antallet medlemmer er begrenset, og det kommer ikke nye medlemmer til.
<br>
            Ord fra de åpne ordklassene kalles ofte innholdsord – det vil si ord med refererende funksjon – mens ord fra de lukkede klassene kalles
            funksjonsord – det vil si ord med grammatisk funksjon. De to begrepsparene er imidlertid ikke helt synonyme, for eksempel er pronomen en
            lukket ordklasse, men når det gjelder funksjon, har medlemmene i denne klassen større likhet med innholdsordene enn med funksjonsordene.
<br>
            Det varierer – både individuelt og mellom afasityper – om en afasirammet har størst problemer med funksjonsordene eller med innholdsordene.</p>
        <p>Se videoeksempler:
            <button ng-click="openWin('arne.mp4')">Arne R.</button>
            <button ng-click="openWin('janivar.mp4')">Jan Ivar T.</button>
        <button ng-click="openWin('afasitotal.mp4')">Gruppesamtale</button></p>


        <div readmore title="Oppgaver om ordtyper" id="rm24_ling">
            <ol>
                <li>1) Hvilke ordklasser finner du eksempler på i de afasirammedes ytringer?</li>
            <li>2 a) Finn frem til innholdsord og funksjonsord i sekvensene.</li>
            <li>2 b) Hvordan er fordelingen mellom de to kategoriene i forhold til det totale antall ord i den afasirammedes ytringer?
                <br>Se videoeksempler:
                <br><button ng-click="openWin('hegefarge.mp4')">Hege J.</button>
                <button ng-click="openWin('ingerlisefarge.mp4')">Inger Lise H.</button>
                <button ng-click="openWin('sveinerikfarge.mp4')">Svein Erik L.</button>
                <button ng-click="openWin('eva.mp4')">Eva N.</button>
                <button ng-click="openWin('janivar.mp4')">Jan Ivar T.</button></li></ol>
        </div>
    </div>
        </div>
    <div timelinebox date-place="Ordbøyning" tl-title="" tl-text="Ordbøyning" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_59">

    <p>Mange ordformer er bøyde former. Det vil si at de har en bøyningsendelse som uttrykker ett eller flere grammatiske trekk fra grammatiske
        kategorier.</p>
    <div readmore title="Les mer" id="rm9_ling">
        <p>I setningen «Den nye bilen kjørte sakte forbi» finner vi bøyningsendelser i ordene «nye», «bilen» og «kjørte», og de
            grammatiske kategoriene som kommer til uttrkk er: bestemthet («nye», «bilen») tall («bilen») og tid («kjørte»).</p>
<br>
            <p>Afasirammede med en skade i den fremre delen av språkområdene i hjernen har ofte større vanskeligheter med funksjonsord og
                bøyningsendelser enn med innholdsord.</p>
        <p>Se videoeksempler:
        <button ng-click="openWin('afasitotal.mp4')">Gruppesamtale</button>
        <button ng-click="openWin('janivar.mp4')">Jan Ivar T.</button></p><br>
        <p>For en del afasirammede representerer verb og verbbøyning ofte et ekstra stort problem i spontantale. De bruker få verb, og de har
            problemer med å bøye verbene riktig, spesielt i fortid. I stedet for en fortidsform (preteritum eller perfektum) kan de bruke
            infinitiv eller presens. I en dialog kan det oppstå misforståelser på grunn av slike manglende fortidsformer; den afasirammede
            forsøker å fortelle eller spørre om en fortidig hendelse, men fordi han eller hun ikke bøyer verbet, oppfatter mottaker ytringen
            med referanse i nåtiden.</p>

        <p>Se videoeksempel:
        <button ng-click="openWin('afasitotal.mp4')">Gruppesamtale</button></p>
<br><p>Selv om en afasirammet har vanskeligheter med fortidsbøyning av verb i spontantale, betyr ikke det nødvendigvis at evnen til å bøye verb
        er forsvunnet. I en testsituasjon kan den afasirammede mestre verbbøyning nesten like godt som en normalspråklig person.</p>
        <div readmore title="Oppgaver om ordbøyning" id="rm25_ling">
            <ol>
                <li>1) Finn frem til eksempler på ordbøyning i disse sekvensene.</li>
                <li>2) Hvilke ordklasser har de afasirammede vanskeligheter med å bøye?</li>
                <li>3) Forekommer bøyning både i faste fraser og i selvkonstruerte ytringer? Finn eksempler.</li>
                <li>4) Hvilke strategier bruker de afasirammede for å kompensere for manglende bøyning?<br>
                    Se videoeksempler:
                    <button ng-click="openWin('janivar.mp4')">Jan Ivar T.</button>
                    <button ng-click="openWin('hegefarge.mp4')">Hege J.</button>
                    <button ng-click="openWin('eva.mp4')">Eva N.</button>
                    <button ng-click="openWin('afasitotal.mp4')">Gruppesamtale</button>
            </ol>
        </div></div></div>

    <h1>Ytringer</h1>
    <div timelinebox date-place="Ytringslengde" tl-title="" tl-text="Ytringslengde" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_60">

    <p>Når vi snakker produserer vi ytringer som består av ett eller flere ord. Lengden på ytringene varierer hos afasirammede så vel som hos
        normalspråklige.</p>
    <div readmore title="Les mer" id="rm10_ling">
        <p> I materialet som ble samlet inn til talemålsundersøkelsen blant voksne normalspråklige personer i Oslo på
            1970-tallet (TAUS), er den gjennomsnittlige ytringslengden for majoriteten av informantene på 8,5 til 10,5 ord.</p>
<br>
        <p>Her er et par eksempler på varierende ytringslengde hos afasirammede:
        <button ng-click="openWin('ingerlisefarge.mp4')">Inger Lise H.</button>
        <button ng-click="openWin('sveinerikfarge.mp4')">Svein Erik L.</button></p>
        <br>
        <p>Ytringer har av og til form som setninger – det vil si at de består av (minst) et subjekt og et verbal – og av og til form som
            setningsfragmenter. Det er viktig å huske at normalen slett ikke er å snakke i «hele setninger» hele tiden. Det er vanlig å definere
            en ytring ut fra pauser i talestrømmen; en ytring blir da det som sies mellom to pauser. Når vi studerer afasirammedes språk, er
            ikke dette noe godt kriterium, blant annet på grunn av avvik i taleflyt. Vi forsøker derfor å avgrense ytringer hos afasirammede på
            bakgrunn av både prosodiske trekk (for eksempel tonegang og pauser) og strukturelle trekk (for eksempel ordtyper og setningsledd).</p>
<br>
            <p>Ytringslengde – målt i antall ord eller antall morfemer (minimale betydningsenheter) – brukes ofte som et mål på språklig nivå i
                barnespråksforskning. Det kan også brukes som et verktøy i beskrivelsen av voksne afasirammedes språkproduksjon.</p>
        <div readmore title="Oppgaver om ytringslengde" id="rm26_ling">
            <ol>
                <li>1a) Hva er den gjennomsnittlige ytringslengden hos disse afasirammede språkbrukerne?</li>
                <li>b) Støtte du på noen problemer i avgrensningen av ytringer?</li>
                <li>c) Består noen av ytringene av mer enn én
                    setning?<br>
                    <p>Se videoeksempler:
                    <button ng-click="openWin('arne.mp4')">Arne R.</button>
                    <button ng-click="openWin('hegefarge.mp4')">Hege J.</button>
                    <button ng-click="openWin('janivar.mp4')">Jan Ivar T.</button>
                    <button ng-click="openWin('videokommer.mp4')">Eva T.</button></p>
                     </li>
            </ol>
        </div>
    </div></div>
    <div timelinebox date-place="Kompleksitet" tl-title="" tl-text="Kompleksitet" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_61">

    <p>Ytringer som består av mer enn ett ord, er vanligvis bygd opp av setningsledd, det vil si enkeltord eller grupper av ord som har en
        bestemt syntaktisk funksjon – og en bestemt rolle å fylle – i setningen.</p>
    <div readmore title="Les mer" id="rm11_ling">
        <p> Vi skiller gjerne mellom nominale, adverbiale og verbale
            setningsledd avhengig av hvordan setningsleddene er bygd opp, og hvilken funksjon de har.</p>
        <p>Se videoeksempel:<button ng-click="openWin('sveinerikfarge.mp4')">Svein Erik L.</button></p>
<br>
        <p>Nominale setningsledd kan bestå av pronomen, substantiviske og adjektiviske uttrykk eller leddsetninger, og de fungerer som subjekt,
            objekt og predikativ. Adverbiale setningsledd kan bestå av adverb, preposisjonsuttrykk og leddsetninger, og de fungerer som
            adverbial. Verbale setningsledd består av verb og fungerer alltid som verbal.</p>
<br>
            <p>Setningsleddene i en setning kan også være egne setninger. En slik setning som er innføyd i en annen setning, og har en
                selvstendig funksjon som et setningsledd der, kaller vi en leddsetning. Siden leddsetninger også kan innføyes i leddsetninger,
                kan setningen som helhet få en nokså kompleks, hierarkisk struktur, som i dette eksemplet: <i>Hun sa [at hun trodde [at han
                    visste [at de skulle reise til London i påsken]]]</i></p>.

            <p>Leddsetninger kan være nominale eller adverbiale. Et eksempel på en nominal leddsetning som fungerer som objekt, har vi her:<i>
                [At det er en nyttig ting], kan ingen komme fra.</i></p>
        <p>Nominale leddsetninger kan også fungere som subjekt og predikativ. Et eksempel på en adverbial leddsetning som fungerer som
            adverbial, har vi her: <i>[Da klokka klang], så fort vi sprang.</i></p>
<br>
            <p>Setninger kan også føyes inn i setningsledd uten å danne egne, selvstendige setningsledd. Dette kaller vi utfyllingssetninger.
                Relativsetninger (ofte innledet med som) er en vanlig type utfyllingssetning, som i dette eksemplet: <i>Gro Harlem Brundtland
                    [som er utdannet lege] var Norges første kvinnelige statsminister.</i></p>
        <p>Her er et eksempel på relativsetninger hos en afasirammet språkbruker:</p>
        <p>Se videoeksempel:<button ng-click="openWin('hegefarge.mp4')">Hege J.</button></p>
<br>
        <p>En beskrivelse av leddstillingen er en beskrivelse av hvilke typer setningsledd som følger hverandre i en ytring. Den nøytrale
            leddstillingen i norsk er subjekt – verbal – objekt (SVO),  men vi kan selvfølgelig også ha andre rekkefølger. Det er
            imidlertid et viktig prinsipp i norsk at verbalet kommer på andreplass – som ledd nummer to – i setningen.</p>
        <br>
        <p>Afasirammede får i større og mindre grad problemer med å produsere og forstå syntaktiske strukturer. Naturlig nok vil mer
            komplekse strukturer (for eksempel setninger med mange innføyde setninger eller setninger som bryter med den nøytrale
            leddsetningen) volde større problemer enn enkle strukturer.</p>
        <div readmore title="Oppgaver om kompleksitet" id="rm27_ling">
            <ol>
                <li>1a) Analyser ytringene i sekvensene syntaktisk.</li>
                <li>b) Beskriv strukturene i forhold til Ieddstilling og kompleksitet.<br>Se videoene:
                    <button ng-click="openWin('arne.mp4')">Arne R.</button>
                    <button ng-click="openWin('hegefarge.mp4')">Hege J.</button>
                    <button ng-click="openWin('janivar.mp4')">Jan Ivar T.</button>
                    <button ng-click="openWin('videokommer.mp4')">Eva T.</button>
                    </li>
            </ol>
        </div>
    </div></div>

    <div timelinebox date-place="Supertrukturer" tl-title="" tl-text="Supertrukturer" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_62">
    <p>Noen språklige prosesser har flere enkeltsegmenter som virkeområde samtidig. Resultatene av slike prosesserkan refereres til som superstrukturer.</p>
    <div readmore title="Les mer" id="rm12_ling">
        <p>En del språklige prosesser har det vi kan kalle enkeltsegmenter som virkeområde, for eksempel artikulasjon av en enkelt språklyd
            eller gjenfinning av et enkeltord i det mentale leksikonet. Andre språklige prosesser har flere enkeltsegmenter som
            virkeområde samtidig, og vi kan referere til resultatene av slike prosesser som superstrukturer. Intonasjonsmønstre, det vil si
            den prosodiske konturen i form av stigninger og fall i grunntonefrekvensen som er en integrert del av enhver muntlig formidlet
            ytring, er et eksempel på en slik superstruktur.</p>
        <p>Se videoeksempler:
        <button ng-click="openWin('arne.mp4')">Arne R.</button><button ng-click="openWin('hegefarge.mp4')">Hege J.</button></p>
<br>
        <p>Tekststrukturer, det vil si måten bestemte typer tekster, for eksempel fortellinger eller instruksjoner, er bygd opp på, er et
            annet eksempel på en superstruktur. Tekster kan være både muntlige og skriftlige, produsert av en enkeltperson eller av
            flere personer sammen.</p>
<br>
            <p>En del afasirammede kan ha en godt bevart evne til å uttrykke superstrukturelle trekk, selv om enkeltsegmentene i
                superstrukturen volder vanskeligheter, mens det hos andre afasirammede kan være motsatt.</p>
<br>
            <p>Her er et eksempel på at den prosodiske superstrukturen er bevart, selv om ytringene er uforståelige på grunn av
                segmentale vanskeligheter.</p>
        <p>Se video:
        <button ng-click="openWin('arne.mp4')">Arne R.</button></p>
        <div readmore title="Oppgaver om superstrukturer" id="rm28_ling">
            <ol>
                <li>1a) Beskriv Svein-Erik L.s evner til gjenfortelling.</li>
                <li>b) Hva kan vanskelighetene skyldes?</li>
                <li>c) Er det trekk i Svein-Erik L.s gjenfortelling som tyder på en bevart superstruktur?<br>
                    Se video:
                    <button ng-click="openWin('sveinerikfarge.mp4')">Svein Erik L.</button>
                </li>
                <li>2) Beskriv intonasjonsmønstrene i Arne R.s ytringer.<br>Se video:
                    <button ng-click="openWin('arne.mp4')">Arne R.</button></li>
            </ol>
        </div>
    </div></div>
    <h1>Dialog</h1>

    <div timelinebox date-place="Forståelse" tl-title="" tl-text="Forståelse" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_63">
    <p>Det varierer hvor lett eller vanskelig det er for en afasirammet å forstå andres ytringer.</p>
    <div readmore title="Les mer" id="rm13_ling">
        <p>På samme måte som det varierer hva slags og hvor store vanskeligheter en afasirammet person har med språkproduksjonen, variererer
            det hvor lett eller vanskelig det er for en afasirammet å forstå andres ytringer.<br>
            Se videoene:
            <button ng-click="openWin('arne.mp4')">Arne R.</button>
            <button ng-click="openWin('ingerlisefarge.mp4')">Inger Lise H.</button><br>
            <p>Evnen til auditiv (talespråklig) forståelse er et av kriteriene som brukes generelt i afasiklassifisering,
            også i Norsk grunntest for afasi. Personer med de afasitypene som kalles Wernickes afasi og global afasi, har ofte nedsatt forståelse,
            mens personer med afasityper som Brocas afasi, anomisk afasi og korduksjonsafasi har bedre bevart forståelse, men også disse gruppene har
            forståelsesproblemer. Når man undersøker evnen til auditiv forståelse, er det selvfølgelig viktig å klargjøre på forhånd om den afasirammede
            har dårlig hørsel.<br><br>
            I likhet med språkproduksjon er språkforståelse basert på en kombinasjon av mange prosesser. For å forstå en ytring, må språkbrukeren
            være i stand til å kjenne igjen det språklige signalet (ytringen) nettopp som et språklig signal. Deretter må vedkommende kunne starte en
            avkodingsprosess av lydene (eller skrifttegnene) i ytringen for å komme frem til hvilke ordformer ytringen består av. Så må man kunne
            avkode ordformenes betydning og betydningen av den grammatiske strukturen ytringen har, og til slutt må man forsøke å finne ut hva som menes
            med ytringen, hvordan den passer inn i den øvrige tekstsammenhengen. Det kan oppstå vanskeligheter for afasirammede på alle disse nivåene
            i forståelsesprosessen.<br><br>Når problemet er å kjenne igjen et signal som et bestemt språklig signal, sier vi at vedkommende har agnosi.
            Dette er en generell term for den typen av tilstander der hjernen ikke er i stand til å koble et bestemt sanseinntrykk til et kjent begrep.<br>
            Se video:<button ng-click="openWin('ingerlisefarge.mp4')">Inger Lise H.</button><br><br>
        For å kunne forstå lengre ytringer, er det en forutsetning at man forstår enkeltordene som inngår i ytringen. Men forståelse av en lengre ytring
            innebærer ofte mer enn forståelse av enkeltordene. Man trenger også grammatisk og pragmatisk forståelse (situasjonsforståelse). Såkalt
            reversible setninger, altså setninger som kan”snus rundt” uten at de semantiske rollene i setningen endres, er en type struktur som krever grammatisk
            forståelse. Et eksempel på en slik reversibel setning er: Jenta slår gutten - Gutten blir slått av jenta. <br>Se video:
            <button ng-click="openWin('hegefarge.mp4')">Hege J.</button><br><br>
            Selv om den auditive forståelsen er svekket, kan afasirammede ofte få hjelp av en god situasjonsforståelse i kommunikasjonen. For å forstå
            ytringen ”Vil du ha en kopp kaffe?", behøver man ikke alltid å forstå alle ordene eller den grammatiske strukturen. Hvis ytringen blir sagt
            i en situasjon der bruken av gjenstander (f.eks. kopper, kaffekanne) og kroppsspråk bygger opp under ytringen, kan man forstå meningen med
            ytringen uten å forstå alle ordene.</p>
        <div readmore title="Oppgaver om forståelse" id="rm29_ling">
            <ol>
                <il>Se video:
                    <button ng-click="openWin('janivar.mp4')">Jan Ivar T.</button>
                    <br>1 a) Hva slags type forståelse tester logopeden i denne sekvensen?</il>
                <il>b) Hvordan vil du beskrive Jan-Ivar T.s evner I testen?</il>
                <li>Se video:
                    <button ng-click="openWin('hegefarge.mp4')">Hege J.</button>
                    <br> 2 a) Hva slags type forståelse tester logopeden i denne sekvensen?</li>
                <li>b) Hvordan vil du beskrive Hege J.s evner i testen?</li>
                <li>Se video:<button ng-click="openWin('ingerlisefarge.mp4')">Inger Lise H.</button>
                    <br>3) Beskriv forståelsesvanskene i denne sekvensen.</li>
                <li>4) Hva kan grunnene være til at evnene til språkforståelse generelt er vanskeligere å beskrive og analysere enn evnene til
                    språkproduksjon?</li>
            </ol>
        </div>
    </div></div>


    <div timelinebox date-place="Samspill" tl-title="" tl-text="Samspill" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_64">
    <p>Samtalen er på flere måter den mest grunnleggende av alle former for språkbruk.</p>
    <div readmore title="Les mer" id="rm14_ling">
        <p> Det er gjennom samtaler at vi sosialiseres inn i bestemte kulturer
            - tilegner oss et morsmål og en identitet. Dessuten er samtalen universell som kommunikasjonsform, det vil si at den finnes i alle samfunn,
            i motsetning til for eksempel skriftspråklig kommunikasjon, radio, TV og så videre. For å få til en samtale kreves det minst to deltakere som
            i fellesskap samordner bidragene sine slik at det dannes en sammenhengende helhet. Bidrag til samtaler er først og fremst talte (verbalspråklige),
            men de kan også være ikkeverbale (som kroppsspråk, mimikk, blikk).<br>Se videoene:
            <button ng-click="openWin('eva.mp4')">Eva N.</button>
            <button ng-click="openWin('arne.mp4')">Arne R.</button><br><br>Samtaler er strukturert på flere nivåer.
            For det første er det et viktig prinsipp i samtaler at deltakerne veksler på å ha ordet, eller det som ofte kalles en samtaletur. En slik tur
            er den perioden en viss deltaker har eksklusiv rett (og plikt) til å komme med et bidrag til samtalen. Vanligvis bestemmer man ikke på forhånd
            hvem som skal si hva når, men dette forhandles frem underveis i samtalen. Det vil si at deltakerne hele tiden gir hverandre små signaler om hvordan
            turfordelingen skal være, for eksempel om man ønsker å få neste tur, eller om man vil fortsette å lytte. Disse signalene er med på å styre
            turvekslingen (eller turtakingen).<br>Se video:<button ng-click="openWin('afasitotal.mp4')">Gruppesamtale</button><br>

            <br>Samtaleturer inngår i strukturer på høyere nivåer, slik at vi får ulike typer
            sekvenser. For eksempel finnes det en type sekvenser i samtaler som kalles avpassede par, og som innebærer en parvis kobling av bestemte
            replikktyper. Spørsmål - svar, hilsning - hilsning, og tilbud akseptering/avslag er eksempler på avpassede par. Mellom delene i et avpasset par
            finnes det et gjensidig avhengighetsforhold: den første replikken skaper en forventning om en bestemt type respons, mens den andre replikken
            bygger på at den første allerede er blitt lansert i samtalen.<br> Se video:<button ng-click="openWin('ingerlisefarge.mp4')">Inger Lise H.</button>
            <br>Sekvenser som avpassede par kan midlertid også avbrytes
            av såkalte sidesekvenser (eller innskuddssekvenser) som blant annet kan ha som funksjon å rette opp misforståelser i samtalen. Også i forhold
            til hva man snakker om emnene i samtalen - er samtaler strukturerte fenomener.<br>Se video:
            <button ng-click="openWin('afasitotal.mp4')">Gruppesamtale</button><br> Grunnleggende samtaleferdigheter
            (for eksempel evnen til turveksling eller turtaking) blir sjelden rammet ved afasi, men mange av de problemene den afasirammede har, kan påvirke
            evnen til å delta aktivt i en normalsamtale. Ordfinningsproblemer, vanskeligheter med å produsere ord og ytringer like raskt som tidligere,
            problemer med å forstå språklige ytringer - alt dette kan føre til vanskeligheter i samtalesituasjoner. Studier har vist at afasirammede ofte
            blir henvist til en nokså passiv rolle i samtaler. Selv om en afasirammet kan greie å introdusere emner, kan det ofte være vanskelig for
            vedkommende å få utviklet emnene videre, fordi de andre samtaledeltakerne "tar over” kommunikasjonen eller utvider samtalen med flere emner
            samtidig. Med samarbeidsvillige samtaledeltakere som er åpne for at tempoet i dialogen må settes ned, at ett og ett emne behandles om gangen, og
            at kommunikasjon kan skje ved hjelp av mange ulike uttrykksformer, er samtaler med og mellom afasirammede i høyeste grad mulig.</p>

    <div readmore title="Oppgaver om samspill" id="rm30_ling">
        <ol>
            <li>1)	Beskriv hvordan det kommunikative samspillet fungerer i disse samtaleutdragene. Hvilke strategier bruker deltakerne for å holde
                samtalen gående?</li>
            <li>2)	Oppstår det vanskeligheter med den felles forståelsen underveis i samtalen? Hvordan løses eventuelt disse vanskelighetene?</li>
            <li>3)	Hvilke likheter og forskjeller finner du mellom terapisamtalen" som Jan-Ivar T- deltar i, og gruppesamtalen som Eva T.,
            Kåre C. og Lisbeth G. deltar i?</li>
            <li>4)	Drøft hvordan kommunikasjon foregår i en vanlig gruppesamtale. Hvordan holdes en slik samtale gående?</li>
            <li>5)	Finnes det likheter med samtalen i afasigruppa?</li>
            <li>6)	Hvordan ville man måtte endre en vanlig gruppesamtale for at en afasirammet skulle kunne delta?<br>Se videoene:
                <button ng-click="openWin('afasitotal.mp4')">Gruppesamtale</button>
                <button ng-click="openWin('janivar.mp4')">Jan Ivar T.</button></li>
        </ol>
    </div>
    </div></div>
    <div timelinebox date-place="Reparasjon" tl-title="" tl-text="Reparasjon" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_65">

    <p>Når det av ulike grunner oppstår misforståelser i samtalen, må det foretas reparasjoner.</p>
    <div readmore title="Les mer" id="rm15_ling">

        <p>Det er ikke alltid at samtaler glir knirkefritt selv ikke mellom mennesker som behersker den samme språkkoden fullt ut. Av ulike grunner
            oppstår det misforståelser.<br><br>Noen ganger har vi problemer med å høre hva en annen samtaledeltaker sier, og av og til har vi
            vanskeligheter med å forstå hva de ordene samtalepartneren vår ytrer, betyr. Hvor godt vi forstår hverandre, påvirkes også av hvor stor
            felles referanseramme vi har. Noen ganger forstår vi ikke hvorfor den vi snakker med, sier det han eller hun sier, på akkurat den måten,
            i akkurat den situasjonen vi befinner oss i. Når det oppstår slike (eller andre typer) problemer i samtalen, har deltakerne mulighet for
            å foreta det som kalles en reparasjon.<br>Se videoene:
            <button ng-click="openWin('hegefarge.mp4')">Hege J.</button>
            <button ng-click="openWin('ingerlisefarge.mp4')">Inger Lise H.</button>
            <br><br>Enkelt sagt går reparasjoner ut på at en av
            samtaledeltakerne oppdager en”feil" eller misforståelse som han eller hun enten selv forsøker å rette på, eller forsøker å få en annen
            deltaker til å rette på. Reparasjoner er en viktig del av den kontinuerlige ”vedlikeholdsprosessen” som alle samtaledeltakere er
            involvert i når de snakker sammen. Det er imidlertid ikke slik at enhver ”feil" nødvendigvis fører til en reparasjon, eller at det
            alltid foreligger noen hørbar feilytring før en reparasjon. Poenget er heller ikke å finne frem til hvem som har sagt noe ”feil",
            men snarere å klargjøre hvordan mekanismene for å hanskes med problemer fungerer.<br><br>Vanligvis er det slik at vi i samtaler foretrekker
            å rette på oss selv fremfor å bli korrigert av andre, og vi vil gjerne også selv ta initiativet til reparasjonen fremfor at andre skal
            gjøre oss oppmerksomme på ”feilen". Normalt tar reparasjonssekvensene liten plass i samtalen - de realiseres som korte sidesekvenser.<br><br>
            I samtaler der en eller flere av deltakerne behersker den språklige koden dårligere enn normalt (for eksempel i forbindelse med afasi),
            blir naturlig nok behovet for reparasjoner nokså stort. Reparasjonssekvensene i afasisamtaler er ofte lange og blir en substansiell del
            av samtalen i seg selv. I motsetning til i samtaler mellom språklig funksjonsfriske deltakere, innebærer reparasjoner i afasisamtaler en
            svært sterk grad av eksplisitt samarbeid mellom deltakerne. En del afasirammede seg ut til å foretrekke at den normalspråklige
            samtalepartneren ”hjelper" dem ut av kommunikasjonsproblemer de selv har rettet søkelyset mot. I stedet for å rette på seg selv, gir de
            med andre ord signaler om at de ønsker hjelp. Her er det imidlertid variasjon fra person til person. Noen afasirammede oppdager heller
            ikke selv at noe trenger å repareres, og noen greier ikke å be om hjelp.
    </p>
        <div readmore title="Oppgaver om reparasjon" id="rm31_ling">
            <ol>
                <li>1a) Finn frem til reparasjonssekvenser i samtaleutdraget.</li>
                <li>b) Hvordan signaliserer deltakerne at det har oppstått et problem i samtalen?</li>
                <li>c) Hvordan foregår selve reparasjonen?</li>
                <li>d) Hvordan avsluttes reparasjonssekvensene?</li>
            </ol>
        </div>
    </div></div>


    <div timelinebox date-place="Flerspråklighet" tl-title="" tl-text="Flerspråklighet" tl-x=1
         image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="ordliste_66">
    <p>Når en flerspråklig person får afasi, er det ikke nødvendigvis slik at begge eller alle språkene rammes på samme måte og i samme grad.</p>
    <div readmore title="Les mer" id="rm16_ling">
        <p>Mange mennesker mestrer mer enn ett språk. I en viss forstand er vi alle ”flerspråklige” fordi vi kan veksle mellom ulike
            språkformer (slang, fagspråk, formelt språk, uformelt språk osv.) avhengig av situasjonen og målet med kommunikasjonen. Med
            ”flerspråklig” mener vi imidlertid oftest at en person mestrer to eller flere ulike (nasjonal)språk. Når en flerspråklig person får
            afasi, er det ikke nødvendigvis slik at begge eller alle språkene rammes på samme måte og i samme grad.<br>Se video:
            <button ng-click="openWin('afasitotal.mp4')">Gruppesamtale</button>
            <br><br>Hos noen afasirammede som er flerspråklige
            fordi de har lært et annet
            språk som ungdom/voksne, er det (som forventet) morsmålet som er best bevart. Men det finnes også eksempler på det motsatte, altså
            at fremmedspråket er bedre bevart enn morsmålet. En mulig forklaring på denne forskjellen i utslag av afasi på ulike språk hos ett
            og samme menneske, kan være at det er ulike funksjonelle systemer i hjernen (ulike former for hukommelse) som brukes når man henter
            frem språklig informasjon om et språk man har tilegnet seg (morsmålet), og et språk man har lært seg (fremmedspråket). Metalingvistisk
            kunnskap (bevisst kunnskap om språklige fenomener, regler osv.) er i sterkere grad involvert i forbindelse med læring enn med tilegnelse.
<br><br>Samtidig skal vi huske at det er mange måter å være flerspråklig på. Noen flerspråklige har tilegnet seg fremmedspråket uten formell
            læring, mens andre har gått på kurs og lært språket på den måten. Det er altså motstridende syn og forskningsresultater innenfor feltet
            afasi og flerspråklighet, og det trengs mer forskning!
    </p>
    </div></div>
    <br>
    <g-quiz id="quiz2" path="2"></g-quiz>


</div>


