<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
    <h1>Arne</h1>
    <p> Arne har afasi med alvorlige produksjons- og forståelsesvansker. I tillegg har han noe nedsatt hørsel.
        Han bruker ofte neologismer og sjargong, og han perseverer. Han kan lese og forstå enkeltord som ordbilder,
        men kan ikke lese setninger.
    </p>

    <p> Han kan skrive navnet sitt og kopiere enkeltord. Innimellom produserer han lange korrekte ytringer,
        og da kan han en kort stund delta i en tilnærmet normal samtale. Forståelsen ser ut til å være noe bedre i
        reelle kommunikasjonssituasjoner enn i testsituasjoner. Han har god situasjonsforståelse.
    </p>

    <video src="views/content/img/arne.mp4" class="inlineVideo" controls></video>
    <p>Arne er 76 år gammel. Han har hatt afasi i omtrent 6 måneder. Årsaken til afasien er slag.</p>
</div>

<div class="sectionDetail">
    <h1>Eva N</h1>
    <p> Eva har afasi med store produksjons- og forståelsesvansker. Hun har betydelige vanskeligheter
        med gjentakelse og ordleting både av konkrete og abstrakte ord, og hun persevererer. Hun kan ikke lese eller
        skrive.
    </p>

    <p> I spontantalen bruker hun stort sett neologismer,
        men hun kan også innimellom produsere lengre, korrekte ytringer. Hun bruker av og til gester som støtte for
        talen sin.
    </p>

    <video src="views/content/img/eva.mp4" class="inlineVideo" controls></video>
    <p>Eva er 76 år gammel. Hun har hatt afasi i omtrent 2 måneder. Årsaken til afasi er slag.
    </p>
</div>

<div class="sectionDetail">
    <h1>Hege</h1>
    <p> Hege har først og fremst store ordletingsproblemer med omskrivinger og semantiske forvekslinger.
        Det er særlig substantiver, spesielt høyfrekvente ord, hun har vanskeligheter med.
    </p>
    <p> Hun har også nedsatt forståelse,
        både auditivt og visuelt (lesing). Hun har nedsatt lesetempo og skriver langsommere og mer usikkert enn før.
        I tillegg har hun noen synsforstyrrelser (dobbeltsyn), lette hukommelsesvansker og nedsatt utholdenhet.
    </p>

    <video src="views/content/img/hege.mp4" class="inlineVideo" controls></video>
    <p>Hege er 30 år gammel. Hun har hatt afasi i omtrent 2 måneder. Årsaken til afasien er en operasjon for å
        fjerne en svulst (tumor).
    </p>
</div>

<div class="sectionDetail">
    <h1>Inger Lise</h1>
    <p> Inger-Lise har store vansker med å uttrykke seg, og dette forverres av en alvorlig taleapraksi.
        I spontantale kommuniserer hun ved hjelp av «ja» og «nei», som ikke alltid blir riktig, og enkelte andre ord.
        Hun kan gjenta ord og fraser, og hun hører selv når hun sier noe feil, men kan sjelden korrigere seg uten hjelp.
    </p>
    <p>Hun letter kommunikasjonen ved god bruk av mimikk og kroppsspråk. Hun har fremdeles betydelige
        forståelsesvansker,
        selv om hun har hatt god fremgang, og hun har en god situasjonsforståelse som hjelper henne.
        Hun har store vansker med å lese og skrive.</p>

    <video src="views/content/img/ingerlise.mp4" class="inlineVideo" controls></video>
    <p>Inger-Lise er 54 år gammel. Hun har hatt afasi i omtrent 3 måneder. Årsaken til afasien er slag.
    </p>
</div>

<div class="sectionDetail">
    <h1>Jan Ivar</h1>
    <p> Jan Ivar har vanskeligheter med å uttrykke seg; han har ordletingsvansker og taleapraksi.
        Han har også forståelsesvansker, spesielt i forbindelse med abstrakt språkbruk og lengre språklige ytringer.
    </p>
    <p>Leseforståelsen er relativt god, men lesehastigheten er redusert. Han har også skrivevansker,
        betydelig redusert tempo og utholdenhet i informasjonsbearbeiding. Han tar ofte i bruk kroppsspråk og tegning
        som
        hjelp i kommunikasjonen. Han har gjort fremskritt i forhold til både produksjon og forståelse av språk,
        og bedringen er størst for språkforståelse.
    </p>

    <video src="views/content/img/janivar.mp4" class="inlineVideo" controls></video>
    <p>Jan-Ivar er 38 år gammel. Han har hatt afasi i litt over 2 år. Årsaken til afasien er slag.
    </p>
</div>

<div class="sectionDetail">
    <h1>Kåre</h1>
    <p> Kåre har en lett form for afasi med god auditiv forståelse,
        men han har en alvorlig taleapraksi som gjør at han i perioder har kviet seg sterkt for å uttrykke seg muntlig.
    </p>
    <p>Han kan snakke relativt greit i korte setninger, men han bruker ofte et kommunikasjonshjelpemiddel basert på
        skriveferdigheter
        (Lightwriter) som støtte i språkproduksjonen.
    </p>

    <video src="views/content/img/janivar.mp4" class="inlineVideo" controls></video>
    <p>Kåre er 53 år gammel. Han har hatt afasi i 12 år. Årsaken til afasien er slag.

    </p>
</div>


<div class="sectionDetail">
    <h1>Svein Erik</h1>
    <p> Svein-Erik L. har produksjonsvansker, som viser seg spesielt i ordletingsproblemer, og forståelsesvansker,
        blant annet for relasjonelle begreper og lengre ytringer.
        I tillegg persevererer han. Han har problemer med å sette ned tempoet, og han har vansker med struktur,
        oppmerksomhet og konsentrasjon.
    </p>
    <p>Han har lette hukommelsesvansker ved ikke-språklige oppgaver. I løpet av de fire månedene han har hatt afasi,
        har han gjort størst fremskritt når det gjelder høytlesning og leseforståelse. Evnen til å binde sammen ord til forståelige
        ytringer er også forbedret. I dagligtale kommuniserer
        han ofte bedre enn testresultatene han skulle tilsi, og samtalepartnere kan av og til «lures» til å tro at han ikke har vansker.
    </p>

    <video src="views/content/img/sveinerik.mp4" class="inlineVideo" controls></video>
    <p>Svein-Erik er 55 år gammel. Han har hatt afasi i omtrent 4 måneder. Årsaken til afasien er slag.

    </p>
</div>



