<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
    <p>
        Språk er et kommunikasjonsmiddel mennesket er alene om å beherske. Vi tilegner oss og bruker språket i samspill
        med andre mennesker gjennom hele livet. </p>

    <div readmore title="Video gruppesamtale" id="rm1_proveniens"
         image-and-caption="">
        <video src="http://www.uv.uio.no/om/organisasjon/adm/ffs/unimedia/produksjoner/videoer/afasi-2016/afasitotal.mp4"
               class="inlineVideo" width="40%" controls></video>
    </div>

    <p>
        Språk «finnes» både i hjernen hos den enkelte språkbrukeren og i det konkrete språklige samspillet mellom ulike
        språkbrukere. En helhetlig analyse av en persons språkferdigheter innebærer derfor at man undersøker både
        hvordan språket lagres og struktureres i hjernen hos språkbrukeren, og hvordan han eller hun bruker språket i
        ulike kommunikasjonssituasjoner </p>

    <div readmore title="Video Hege" id="rm2_proveniens"
         image-and-caption="">
        <video src="http://www.uv.uio.no/om/organisasjon/adm/ffs/unimedia/produksjoner/videoer/afasi-2016/hegefarge.mp4"
               class="inlineVideo" width="40%" controls></video>
    </div>

    <h3>Talespråk, tegnspråk, skriftspråk</h3>

    <p> De fleste av verdens seks til sju tusen språk er «tale og lytte» -språk. Det
        vil si at vi bruker taleorganene og hørselen når vi skal produsere og oppfatte språkene. Vi sier at slike språk
        primært er vokalt-auditive. En annen type naturlig menneskelig språk er tegnspråk, som er gestuelt-visuelle.
        Slike språk produseres ved hjelp av hånd-, ansikts- og kroppsbevegelser og oppfattes ved hjelp av synet.
        Talespråket og tegnspråket er primært i forhold til skriftspråket, og det er bare en relativt liten andel av
        naturlige menneskelige språk som blir brukt som skriftspråk. Tegnspråkbrukere kan få afasi på samme måte som
        andre språkbrukere, men på dette nettstedet vil du bare møte afasirammede med et vokalt-auditivt språk. </p>

    <p> Afasi rammer evnen til å produsere og forstå språk bade muntlig og skriftlig. Selv om det varierer fra person
        til
        person hvor omfattende skaden er – altså hvor store utfall afasien gir i forhold til de ulike språklige
        modalitetene
        (taleproduksjon, lytteforståelse, skriving, lesing) — så vil alle modalitetene alltid være skadd i større eller
        mindre grad. </p>

    <p> Når evnene til å lese og/eller skrive til en viss grad er bevart, kan disse ferdighetene fungere som en
        støtte for den talespråklige kommunikasjonen.</p>

    <h3>Produksjon og forståelse av språk </h3>
    <p>Produksjon og forståelse av språk innebærer kompliserte prosesser i hjernen, og
        ikke uventet kan det oppstå feil på ulike nivåer av disse prosessene. Vi går ut fra at produksjonsprosessen
        starter
        med at språkbrukeren har en eller annen idé om hva han eller hun ønsker å uttrykke gjennom en språklig ytring.
        En av
        de første oppgavene for språkbrukeren i produksjonsprosessen er å finne de aktuelle ordene i det mentale
        leksikonet
        (det vil si «ordboka» i hjernen).</p>

    <p>Her regner vi med at informasjon om de enkelte ordenes lydlige (fonologiske) form er lagret sammen med
        informasjon om ordenes betydninger (semantikk).</p>

    <p>De riktige formene av ordene må velges ut (morfologi), og de enkelte ordene må settes sammen på en måte som gir
        en grammatisk korrekt ytring (syntaks).
    </p>

    <p>For at ytringen skal kunne produseres, må hjernen finne ordformene i det mentale leksikon og knytte dem til
        uttalen av hvert segment i den aktuelle ytringen (fonetikk). I tillegg må det gis informasjon om hvilken
        trykkfordeling og tonegang ordene skal ha slik de forekommer i den aktuelle ytringen (prosodi).</p>

    <p>Så må det finnes et uttaleprogram som kan sende riktige impuIser til taleorganene og «fortelle» dem hva de skal
        gjøre for a artikulere ytringen på en korrekt måte.</p>

    <p>Forståelsesprosessen kan litt forenklet ses som en reversering av produksjonsprosessen. Språkbrukeren hører eller
        leser en ytring som han eller hun så må avkode på ulike nivåer, i forhold til lyd, til grammatikk (ord og
        ytringers formstruktur) og til betydning. Afasi kan føre til vanskeligheter på ulike nivåer i de språklige
        produksjons- og forståelsesprosessene, og det finner du mange eksempler på dette nettstedet.</p>


    <h3>Språk i samhandling</h3>
    <p>For å få et helhetlig bilde av en persons språkferdigheter må vi også observere hvordan han eller hun fungerer i
        språklige samhandlingssituasjoner med andre: hva fungerer, og hva fungerer ikke? Virker det som om deltakerne i
        kommunikasjonen forstår hverandre? Får alle delta på lik linje med å stille spørsmål, fortelle historier og gi
        uttrykk for egne meninger? Bruker deltakerne spesielle kommunikasjonsstrategier, og hvordan fungerer i så fall
        disse? Hvordan ordner deltakerne opp i kommunikasjonsvanskeligheter underveis?</p>


    <p>Språkvanskeligheter kan oppstå som følge av skader eller avvik hos enkeltpersoner, men hvilken virkning
        vanskelighetene får for kommunikasjonen, er alltid et spørsmål om hvordan samspillet mellom deltakerne
        foregår.</p>

    <p>I reelle kommunikasjonssituasjoner er det lett å observere at språket er uløselig knyttet til sammenhengen eller
        konteksten det opptrer i, og at meningen med språklige ytringer oppstår og forhandles frem i et samspill mellom
        deltakerne i kommunikasjonen.</p>

    <p>Vi sier gjerne at ytringer får sin mening gjennom en tre-leddet prosess, som vi kan beskrive på følgende måte:
        Først presenterer den ene kommunikasjonsdeltageren (A) en ytring – et initiativ. Deretter gir en annen
        kommunikasjonsdeltaker (B) respons på ytringen, og gjennom denne responsen formidler han eller hun hvordan
        ytringen er blitt fortolket. Til sist kan den opprinnelige taleren (A) gi respons på responsen, og dermed
        signalisere om fortolkningen er akseptabel eller ikke. På denne maten blir deltakerne i fellesskap ansvarlige
        for å skape mening og drive samtalen framover.</p>

</div>