<br>

<div timelinebox date-place="Afasi" tl-title="" tl-text="Afasi" tl-x=2
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_1">
    <p>Afasi er et sammensatt, vedvarende språkavvik etter en fokal hjerneskade hos et individ som har hatt normal språklig utvikling inntil tidspunktet for skaden. Afasi kan ramme evnen til å bruke språket muntlig og skriftlig, i produksjon og forståelse. (Lind et al 2000)</p>
<p>(film: Afasifilm)</p>
</div>

<div timelinebox date-place="Afasiklassifisering" tl-title="" tl-text="Afasiklassifisering" tl-x=3
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_3" bg-image="">
    <p>På grunnlag av nevrologiske variabler (lokalisering av en skade i hjernen) og språklige og ikke-språklige adferdsvariabler, deles afasi ofte inn i ulike typer.
        Det finnes forskjellige klassifiseringssystemer, men i Norge har afasiklassifisering ofte vært basert på Ivar Reinvang og Harald Engviks Norsk grunntest for afasi.
        Et annet klassifikasjonssystem som er i bruk i Norge, er den russiske nevropsykologen Aleksander Lurias klassifikasjonssystem. Selv om det kan være gode grunner til å
        dele afasi inn i ulike typer, skal vi alltid huske at det er store individuelle forskjeller innenfor hver type, og det er sjelden man finner «rene» typer. Ofte har den
        som er rammet en blanding av afasi. (Lind et al 2000)</p><p>Se også: Norsk grunntest for afasi</p>
</div>

<div timelinebox date-place="Agnosi" tl-title="" tl-text="Agnosi" tl-x=4
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_4">
    <p>Agnosi er en tilstand der hjernen ikke er i stand til å koble et bestemt sanseinntrykk til et kjent begrep. Agnosi kan ramme ulike sanseevner, slik at vi får tilfeller av
        visuell, taktil eller auditiv agnosi. Ved visuell agnosi vil den som er rammet, ikke kunne kjenne igjen objekter til tross for at han eller hun har synsevnen i behold.
        Alt ses som for første gang. Ved taktil agnosi er det evnen til å kunne identifisere objekter ved å ta på dem som er skadet, og ved auditiv agnosi er det evnen til å
        kunne skille ut betydningen fra en lydsekvens, eller å kunne identifisere to forekomster av det samme ordet som likelydende, som er skadet. (Lind et al 2000)</p>
    <br>
    <video src="views/content/img/ingerlisefarge.mp4" class="inlineVideo" width="400" controls></video>
</div>

<div timelinebox date-place="Anomi" tl-title="" tl-text="Anomi" tl-x=5
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_5">
    ​<p>Anomi er vanskeligheter med å finne ord i det mentale leksikonet. (Lind et al 2000)</p>
    <p>(film Arne R.)
        (film Hege J.)
        (film Eva N.) Se også: mentalt leksikon
    </p>

</div>

<div timelinebox date-place="Anomisk afasi" tl-title="" tl-text="Anomisk afasi" tl-x=6
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_6" bg-image="">
    <p>Anomisk afasi er en av afasitypene i Norsk grunntest for afasi. Anomisk afasi er kjennetegnet ved relativt god forståelse og godt bevart evne til gjentakelse.
        Talepreget er flytende. Den afasirammede har store ordfinningsproblemer, og bruker gjerne leksikalske parafasier (det vil si at man skifter ut et ord med et annet)
        og noe sjargong. (Lind et al 2000)</p><p>Se også: Norsk grunntest for afasi</p>
</div>

<div timelinebox date-place="Antonymi" tl-title="" tl-text="Antonymi" tl-x=7
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_7">
    <p>Antonymi er en betydningsrelasjon mellom to forskjellige uttrykk som har motsatte betydninger innenfor samme dimensjon eller felt. Eksempel: mann – kvinne, tidlig – seint,
        død – levende. (Endresen et al 2000)

        (film Hege J.)

        Se også: synonymi
    </p>
</div>

<div timelinebox date-place="Apraksi" tl-title="" tl-text="Apraksi" tl-x=8
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_8" bg-image="">
    <p>Apraksi er en tilstand der man ikke greier å utføre en viljemessig motorisk handling. Men vet hva man vil si eller gjøre, men man klarer ikke å programmere det
        motoriske systemet på en slik måte at man får utført handlingen. Det er ikke noe i veien med musklene i seg selv, det er den viljemessige programmeringen av musklene
        som er problematisk. Automatiserte og kontekstualiserte er uproblematiske. I forbindelse med språk kan apraksi arte seg som vansker med å uttale språklyder
        (taleapraksi eller verbal apraksi) eller som vansker med å bruke taleorganene til ikke-språklige handlinger, som å hoste, kremte, suge, gape o.l. (oral apraksi).
        Apraksi gjelder ikke bare evnen til å utføre språklige og ikke-språklige handlinger med taleorganene, men kan også ramme den viljestyrte evnen til andre handlinger,
        for eksempel det å kle på seg, der personen har vansker med å relatere det enkelte klesplagget til den riktige kroppsdelen, elle det å konstruere noe, for eksempel
        tegne noe eller bygge noe av klosser. Apraksi kan forekomme elene eller i kombinasjon med et språkavvik som afasi. (Lind et al 2000)</p>
</div>

<div timelinebox date-place="Auditiv forståelse" tl-title=""  tl-text="Auditiv forståelse" tl-x=9
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" bg-image="" id="timeline_9">
    <p>Auditiv forståelse vil si evnen til å prosessere, gjenkjenne og kategorisere et muntlig formidlet språklig uttrykk (en språklyd, et ord eller en ytring).
        Auditiv forståelse er bare én av flere former for forståelse som inngår i en helhetlig forståelsesprosess i en kommunikasjonssituasjon. </p>
</div>

<div timelinebox date-place="Avpasset par" tl-title="Beslag" tl-text="Avpasset par" tl-x=10
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_10">
    <p>Avpasset par
        Et avpasset par er en vanlig form for sekvensiell organisering av bidrag i samtaler. Avpassede par innebærer en parvis kobling av bestemte replikktyper,
        for eksempel spørsmål – svar, hilsen – hilsen, tilbud – akseptering /avslag. Replikkene i et avpasset par står i et gjensidig avhengighetsforhold til hverandre
        på den måten at den første replikken skaper en forventning om en bestemt type respons, mens den andre replikken bygger på at den første allerede har blitt lansert
        i samtalen. For eksempel blir det på den ene siden nokså meningsløst å karakterisere noe som et svar dersom det ikke finnes noe spørsmål, og på den andre siden vil
        et manglende svar på et spørsmål oppfattes som markert fraværende.
        (Lind et al 2000).
    </p><p>(film Inger-Lise H.)</p>
</div>
<h2>B</h2>

<div timelinebox date-place="Brocas afasi" tl-title="" tl-text="Brocas afasi" tl-x=11
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_11">
    <p>Brocas afasi er en av afasitypene i <i>Norsk grunntest for afasi.</i> Brocas afasi er kjennetegnet ved relativt sett godt bevart forståelse og noe svekket evne til
        gjentakelse. Talepreget er ikke-flytende. Den afasirammede snakker vanligvis sakte, noe stakkato. Ytringene er korte og/eller fragmenterte, og den afasirammede har
        vanskeligheter med å utnytte de morfologiske og syntaktiske ressursene i språket. Brocas afasi har navn etter den franske legen Paul Broca som på midten av 1800-tallet
        (1861, 1865) var den første som gjorde de vitenskapelige miljøene oppmerksomme på koblingen mellom en bestemt type språkavvik og bestemte skader i hjernen.
        (Lind et al 2000)</p><p>Se også: Norsk grunntest for afasi</p>
</div>

<div timelinebox date-place="Bøyning" tl-title="Tyske aksjoner mot forlag og b" tl-text="Bøyning" tl-x=12
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_12">
    <p>Det tyske Reichskommissariat setter i gang større beslag, og bestemmer at all jødisk litteratur og såkalt emigrantlitteratur skal fjernes fra forlag, bokhandlere og bibliotek. Utover høsten starter aksjonene. Bøkene av rundt 80 forfattere blir beslaglagt, blant dem Franz Kafka, Albert Einstein, Karl Marx, Thomas Mann og Erich Kästner.</p>
</div>

<div timelinebox date-place="November 1941 // Norge" tl-title="Snorre Sel – et eksempel på sensur" tl-text="November 1941 // Norge" tl-x=20
     image-src="timeline_no_1941.jpg" caption-text="Utdrag fra boka" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_13">
    <p>Frithjof Sælen (1917-2004) utgir boka <i>Snorre Sel</i>  og den blir en stor suksess og får til og med god mottagelse i Deutsche Zeitung in Norwegen. Boka om den lille selungens kamp for tilværelsen i det farlige Ishavet der isbjørnen Brummelabb og spekkhoggeren Glefs truer, selger nesten hele opplaget på 12.500 bøker i løpet av kort tid. Bare en måned senere blir imidlertid boka forbudt etter at norske NS-myndigheter mottar klager på bokas politiske budskap. Boka er i følge undertittelen ”En fabel i farger for voksne og barn”. Tegningen av Snorre sels isflak minner konturene av Norge. Eventyret om den lille selungens kamp kan leses som en satirisk fortelling om Norges kamp mot Sovjetunionen (Brummelabb) og Nazi-Tyskland (Glefs), der Snorre sel seirer til slutt. Som spesielt latterlige fremstår de to ismåkene med gule glimt i øynene og røde merker som alltid roper ”Skui, skui”, en dårlig skjult analogi til de norske nazistene og deres soltegn og hilsen ”Heil og sæl”.</p>
</div>

<div timelinebox date-place="1942 // Norge" tl-title="Den norske Forleggerforeningen blir nazifisert" tl-text="1942 // Norge" tl-x=21
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_14">
    <p>Fra februar 1942 må alle norske forlag være med i den nye, nazistiske forleggerforeningen. Alle forlag må også etter hvert sende inn søknad til myndighetene for hver bok de ønsker å gi ut. Altså blir manus sensurert før de kommer ut i bokform. I løpet av 1942 melder flere tradisjonsrike forlag seg ut av forleggerforeningen i protest og de nye sensurreglene blir i helhet trukket tilbake.</p>
</div>

<div timelinebox date-place="1943 // Tyskland" tl-title="De allierte intensiverer bombingen av Tyskland" tl-text="1943 // Tyskland" tl-x=22
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_15">
    <p>Sicherheitsdienst (SD) flytter store samlinger av beslaglagte bøker og arkiver fra Berlin til Schlesien og andre grenseområder mot Polen, Østerrike og Tsjekkoslovakia. Mange bøker som ble konfiskert sammen med annen eiendom fra jøder, frimurere og kommunister havner i slott i Sudetenland. Dermed blir beslaglagte bøker sendt ut på en reise som fremdeles ikke er over.</p>
</div>

<div timelinebox date-place="1945 // Norge" tl-title="Omvendt sensur" tl-text="1945 // Norge" tl-x=24
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_16">
    <p>Da frigjøringen kommer 8. mai 1945, setter landets biblioteker snart i gang med å fjerne all nazistisk litteratur og propaganda fra hyllene. Fra nå av blir disse enten ødelagt eller satt i magasiner i bibliotekenes kjellere, til framtidig forskning.</p>
</div>

<div timelinebox date-place="1945 // Tsjekkoslovakia" tl-title="Nye beslag" tl-text="1945 // Tsjekkoslovakia" tl-x=25
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_17">
    <p>Etterkrigsregjeringene vedtar at all eiendom som har tilhørt Tsjekkoslovakias sudettyskere skal beslaglegges og sudettyskerne utvises av landet. I denne prosessen, som pågår fram til 1950, blir rundt 12 millioner bøker konfiskert sammen med annen eiendom. I tillegg beslaglegger man eiendom og også bøker som har tilhørt nazister, ungarere, kollaboratører og andre fiender av det nye styret.</p>
</div>

<div timelinebox date-place="1945-1949 // Offenbach am Main, Tyskland" tl-title="Offenbach Archival Depot" tl-text="1945-1949 // Offenbach am Main, Tyskland" tl-x=26
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_18">
    <p>Fra og med 1945 har De allierte fire sentre i Tyskland som håndterer konfiskert og stjålet materiale fra tiden under andre verdenskrig. Offenbach er et av dem. I Offenbach blir kunst, dokumenter, bøker og arkiver behandlet. Senteret holder til i den femetasjes tidligere kjemifabrikken til IG Farben. Fra dette senteret blir over 5 millioner bøker og manuskripter fra mer enn 4000 europeiske offentlige og private biblioteker over hele Europa og Russland returnert til sine rettmessige eiere. I august 1945 blir mange amerikanske bibliotekarer som da var i militæret, beordret til å arbeide med de enorme mengdene bøker som finnes her.</p>
</div>

<div timelinebox date-place="Februar 1948 // Tsjekkoslovakia" tl-title="Kommunistene tar over" tl-text="Februar 1948 // Tsjekkoslovakia, Tyskland" tl-x=29
     image-src="timeline_cz_1948.jpg" caption-text="Statsminister og formann i det kommunistiske parti, Klement Gottwald, holder taler til arbeidere i februar 1948" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_19">
    <p>Etter at kommunistene tar regjeringsmakt i Tsjekkoslovakia, blir også litteraturen av deres fiender beslaglagt. Alle motstandere av kommunismen får sine bøker beslaglagt. Dette innbefatter at all litteratur skrevet av forfattere bosatt utenlands, fanger og andre som er kritiske til kommunismen, blir forbudt. Nasjonalbiblioteket tar seg av å klassifisere og oppbevare de beslaglagte bøkene.</p>
</div>

<div timelinebox date-place="1948 // Tsjekkoslovakia" tl-title="Uønskede personers eiendommer" tl-text="1948 // Tsjekkoslovakia" tl-x=30
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_20">
    <p>Det tsjekkoslovakiske kommunistregimet beslaglegger eiendommene til personer som har emigrert fra landet. De bøkene som finnes i disse eiendommene, tilfaller Nasjonalbiblioteket.</p>
</div>

<div timelinebox date-place="1948-1989 // Tsjekkoslovakia" tl-title="Sensur" tl-text="1948-1989 // Tsjekkoslovakia" tl-x=31
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_21">
    <p>Gjennom hele perioden med kommuniststyre i Tsjekkoslovakia, vokser det fram et sensurapparat for å verne folket mot alle skadelige uttrykk i radio, film og litteratur. Ingen bibliotek får ha litteratur av forfattere som kan ha en skadelig påvirkning.</p>
</div>

<div timelinebox date-place="1951 // Tsjekkoslovakia" tl-title="Kommunistregimet forbyr frimureri" tl-text="1951 // Tsjekkoslovakia" tl-x=34
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_22">
    <p></p>
</div>

<div timelinebox date-place="1956 // Tsjekkoslovakia" tl-title="Nye depot" tl-text="1956 // Tsjekkoslovakia" tl-x=43
     image-src="timeline_cz_1958.jpg" caption-text="Houska slott // Nasjonalbiblioteket, Tsjekkia" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_23">
    <p>Nasjonalbiblioteket får sitt første depot, det gotiske slottet Houska 47 km nord for Praha, som det tyske sikkerhetspolitiet (SD) også hadde brukt til å lagre bøker. Senere får Nasjonalbiblioteket også disponere andre slott til det samme formålet. Mange av de beslaglagte bøkene blir flyttet fra Klementinum, det historiske biblioteket i hjertet av Praha, ut til de forskjellige slottene. I 1990 ble bøkene fra disse slottene flyttet til et annet depot.</p>
</div>

<div timelinebox date-place="1968 // Tsjekkoslovakia" tl-title="Praha-våren" tl-text="1968 // Tsjekkoslovakia" tl-x=63
     image-src="timeline_cz_1968.jpg" caption-text="Praha 1968 // Wikimedia Commons, František Dostál´s arkiv" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_24">
    <p>Under studentopprørene mot kommunistregimet våren 1968, blir sensuren opphevet. Vestlige bøker blir solgt i store opplag. Sensuren blir imidlertid gjeninnført i september, for så å bli opphevet igjen i 1969. Imidlertid kommer en bestemmelse om at alt som skal offentliggjøres må godkjennes av myndighetene.</p>
</div>

<div timelinebox date-place="1989 // Tsjekkoslovakia" tl-title="Kommunismens fall" tl-text="1989 // Tsjekkoslovakia" tl-x=100
     image-src="timeline_cz_1989.jpg" caption-text="Fløyelsrevolusjonen, Praha, 1989 // Wikimedia Commons" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_25">
    <p></p>
</div>
