<footer role="contentinfo">
    <div layout="row" role="contentinfo" layout-align="space around" show-gt-md hide class="footerImage">
        <a target="_blank" href="http://www.uio.no/"><img src="views/img/UiOlogo.png"></a>

    </div>
    <div layout="row" role="contentinfo" layout-align="space around" show-sm show-md hide>
        <div layout="column" layout-align="center center" class="footerImage">
            <a target="_blank" href="http://www.stiftelsen-arkivet.no/english"><img src="views/img/UiOlogo.png"></a>

        </div>
    </div>
</footer>